*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#index {
    background: lightblue;
    padding-top: 8em;
}

#index-h1 {
    text-align: center;
    font-size: 40px;
}

#index-p {
    text-align: center;
    width: 80%;
    padding-bottom: 50px;
    padding-top: 10px;
    margin: auto;
}

#index-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.card-container {
    text-align: center;
    padding: 10px;
}

body {
    background: url(../images/11-sea.jpg) no-repeat center center fixed;
    background-size: cover;
}
nav {
    font-size: 20px; 
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0;
    font-weight: bold;
}

#about {
    margin-top: 100px;
}

li {
    margin-right: 2rem;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: cornflowerblue;
}

.container {
    width: 600px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.timer-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

button {
    width: 140px;
    height: 40px;
    margin-right: 2em;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;  
}

button:hover {
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.ri-play-fill, .ri-pause-circle-fill {
    font-size: 170px;
    cursor: pointer;
}